main {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1em;
  background: linear-gradient(47deg, turquoise, skyblue);
}

main .card {
  width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  transition: box-shadow 100ms;
  transition: scale 100ms;
  cursor: pointer;
}

.card:hover {
  box-shadow: 10px 10px 10px steelblue;
}
.card:active {
  box-shadow: 1px 1px 10px steelblue;
  scale: 1.1;
}
